.blues{
    display: grid;
    grid-template-rows: repeat(5, 150px);
    grid-template-columns: repeat(8, 150px);
    grid-gap: 30px;
}
.blue{
    
}
.box-blue1{
    background-color: rgb(43, 20, 255);
}
.box-blue2{
    background-color: rgb(142, 140, 255);
}
.box-blue3{
    background-color: rgb(5, 6, 87);
}
.box-blue4{
    background-color: rgb(117, 113, 155);
}
.box-blue5{
    background-color: rgb(35, 21, 161);
}

.random1{
    opacity: .5;
}

.random2{
    opacity: .5;
}

.random3{
    opacity: .5;
}

.random4{
    opacity: .5;
}

.random5{
    opacity: .5;
}