.browns{
    display: grid;
    grid-template-rows: repeat(5, 150px);
    grid-template-columns: repeat(8, 150px);
    grid-gap: 30px;
}
.brown{
}
.box-brown1{
    background-color: rgb(206, 53, 53);
}
.box-brown2{
    background-color: brown;
}
.box-brown3{
    background-color: rgb(119, 30, 30);
}
.box-brown4{
    background-color: rgb(112, 5, 5);
}
.box-brown5{
    background-color: rgb(56, 5, 5);
}
