.purples{
   
    display: grid;
    grid-template-rows: repeat(5, 150px);
    grid-template-columns: repeat(8, 150px);
    grid-gap: 30px;
}
.purple{
   
}
.box-purple1{
    background-color: rgb(165, 22, 165);
}
.box-purple2{
    background-color: purple;
}
.box-purple3{
    background-color: rgb(70, 8, 70);
}
.box-purple4{
    background-color: rgb(236, 6, 236);
}
.box-purple5{
    background-color:rgb(226, 89, 226);
}
