.reds{
   
    display: grid;
    grid-template-rows: repeat(5, 150px);
    grid-template-columns: repeat(8, 150px);
    grid-gap: 30px;
}
.red{
   
}
.box-red1{
    background-color: rgb(182, 5, 5);
}
.box-red2{
    background-color: red;
}
.box-red3{
    background-color: rgb(114, 3, 3);
}
.box-red4{
    background-color: rgb(92, 0, 0);
}
.box-red5{
    background-color:rgb(241, 88, 88);
}
